body {
    display: flex;
    font-size: 1em;
    background-color: #fcf8b3;
  }
  
  .nav-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    margin: 20px 10px;
    background-color: #6ab3fc;
  }
  
  .nav-link {
    font-size: 1.2em;
  }
  
  .main-section {
    background-color: #6ab3fc;
    margin: 20px 10px 20px 10px;
  }
  
  header {
    font-size: 1.5em;
    background-color: #46515b;
    text-align: center;
    padding: 20px;
    color: white;
  }
  
  .article {
    background-color: #46515b;
    padding: 20px 100px;
    margin: 20px 60px;
    color: white;
  }
  
  code {
    font-size: 1.2em;
  }